{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> {%block page_title %} Demo Page {% endblock %} </title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'snap/css/utils.css' %}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <h3 class="align-center"> {%block page_name %} Demo header {% endblock %}</h3>
        </div>
    </nav>

    <div class="container">

        {% block page_content %}
            <div class="jumbotron">
                <h4>Hello, world!</h4>
            </div>
        {% endblock page_content %}

    </div>

</body>
</html>