{% extends 'snap/base.html' %}
{% load absolute %}

{% block page_title %}
    Snap problems
{% endblock page_title %}

{% block page_name %}
    Snap Problems
{% endblock %}

{% block page_content %}

    <div class="jumbotron">
        <h4>List of Snap problems. Click on the Launch button to launch it.</h4>
    </div>

    <div class="table-responsive">
        <table class="table">
            {# This is header of the table #}
            <tr>
                <th>Problem name</th>
                <th>Run instance</th>
                <th>Show as xml</th>
            </tr>

            {# contents of the table #}
            {% for prob in problem_list %}
                <tr>
                    <td>{{ prob.name }}</td>

                    <td>
                        <a href="{{ default_launch_url }}#open:{% absolute 'snap:get_project'%}?projectName={{ prob.name }}" class="btn btn-primary"
                           role="button" target="_blank"> Launch
                        </a>
                    </td>

                    <td>
                        {# link to project as xml #}
                        <a href="{% absolute 'snap:get_project'%}?projectName={{ prob.name }}" class="btn btn-primary"
                           role="button" target="_blank"> Display
                        </a>
                    </td>

                </tr>

            {% endfor %}

        </table>

    </div>

{% endblock %}